# Ignorar documentación y herramientas
doc/metodologia_calenton/
herramientas/

# Ignorar reports antiguos
src/calenton/reports/2008/

# Ignorar archivos compilados grandes
src/componentes/**/*.gch/
src/componentes/build

# Ignorar otros archivos temporales del sistema
*.log
*.tmp
*.swp
.DS_Store
# Ignorar archivos compilados grandes
src/componentes/debug/componentes.gch/
src/componentes/designer/release/tsplugin.gch/
CMakeFiles/CMakeSystem.cmake

*.pyc
*.so
*.o
moc_*.cpp
moc_*.h

